body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

:root{
  --border-color: #b3b3b3
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* 임시 */
  border-top: 1px;
  border-bottom: 1px;
  border-color: var(--border-color);
  position: sticky;
  top: 0;
  background-color: white;

  padding: 5px 200px;
}
.main-logo{
  float: none;
}
.menu-wrap{
  display: flex;
  align-items: center;
  
}
.menu-item{
  padding: 10px;
}
.search-bar{
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  padding: 7px;
  align-items: center;
}
.search-icon{
  font-size: 12px;
}

.search-text{
  border: none;
}




.icon-wrap{
  display: flex;
  align-items: center;
}

.icon-item{
  padding: 10px;
  /* width: 10px; */
}

.icon{
  font-size: 18px;
}

.profile-image{
  width: 2rem;
}